.title-style{
    font-family: cursive;
    font-weight: 300;
    font-style:italic;
    font-size: 60;    
    text-shadow:
    3px 3px 0 violet,
    1px -1px 0 violet,
    -1px 1px 0 violet,
    1px 1px 0 violet;
    padding-right: 15px;
    height: fit-content
}