.screen-container {
    display: flex;
  }
  
  .column {

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .box {
    width: 125px;
    height: 125px;
    margin: 0 20px 0 0;
    border: 5px solid goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    background-color: whitesmoke;
    animation: spin 1s linear
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }

  @keyframes spin {
    0% {
      transform: spin(0deg) translateY(-100%);
    }
    100% {
      transform: spin(360deg) translateY(0);
    }
  }


  